body {
    font-family: 'Rubik';
}

#title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    flex-direction: column;

    .title {
        text-align: center;
        font-size: 200%;
        margin-bottom: 1em;
    }
}

#messages-upload {
    border: 1px solid var(--color-fg);
}
