<!DOCTYPE html>
<html>
    <head>
        {% include 'boilerplate.html' %}
    </head>
    <body class="generic-dark">
        <div class="chat">
            <div class="msg sys">
                Ihr habt ja Nerven.
            </div>
            <div class="msg">
                <div class="author">Johánes</div>
                <div class="content">Na du hs?</div>
                <div class="datetime">16:44</div>
            </div>
            <div class="msg">
                <div class="author">Johánes</div>
                <div class="content">halte lieber dein maul</div>
                <div class="datetime">16:44</div>
            </div>
            <div class="msg pov">
                <div class="author">Ehrenmann</div>
                <div class="content">sei lieber ruhig</div>
                <div class="datetime">16:44</div>
            </div>
        </div>
    </body>
</html>